<ul class="nav nav-tabs bg-dark justify-content-center ">
    <li class="nav-item">
        <a class="nav-link link-light" href="/">Visão Geral</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="cadastro">Cadastrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="membros">Membros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="carteira">Carteira</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="cartas">Cartas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="aniversarios">Aniversários</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="agenda">Agenda</a>
    </li>
</ul>