<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/top-bar.ejs') %>
            <div class="container">
                <h3>Aniversariantes</h3>
            </div>
    </body>

    <%- include('./partials/footer.ejs') %>